.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  margin: 5rem auto 10rem auto;
}

.parameter-row {
  display: flex;
  gap: 1rem;
  margin: 1.25rem 0;
}

.parameter-label {
  font-size: 1.2rem;
}

.weather-description {
  font-size: 2.5rem;
  margin: 0.4rem 0.7rem 0;
  font-weight: 600;
}

.city {
  margin: 0 0.9rem 0.5rem;
  font-size: 1.5rem;
}

.time,
.date {
  margin: 0 1rem;
  font-size: 1rem;
}

.temperature {
  font-size: 4rem;
  margin: 0 0.9rem;
  font-weight: 600;
}

.weather-icon {
  width: 40%;
  margin-left: 4rem;
}

.parameter-icon {
  width: 3.2rem;
  filter: invert(99%) sepia(7%) saturate(2%) hue-rotate(273deg) brightness(111%)
    contrast(100%);
}
